{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="d-flex justify-content-xxl-center">
        <div class="shadow bg-body-tertiary rounded" style="text-align: center;width: 455px; height: 300px;">
            <div class="header-bar">
                <h2>Login</h2>
            </div>
            <br>
            <div style="padding: 20px">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="inputUsername" class="col-sm-2 col-form-label">Username </label>

                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Enter your Username">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                   placeholder="Enter your password">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-primary">Login</button>
                </form>
                <a class="link-opacity-25-hover" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock content %}