{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="shadow bg-body-tertiary rounded" style="text-align: center;width: 700px">
            <div class="header-bar">
                <h2>Sign up</h2>
            </div>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
{% endblock content %}